POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=geodata
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ADMIN_DB=postgres
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/geodata
PROJECT_ROOT=.
VWORLD_API_KEY=
APP_ENCRYPTION_KEY=
WFS_CATALOG_PATH=./resources/wfs/브이월드_WFS_컬럼정보.xlsx
